:root {
    --normalwhite: #ffffff;
    --normalblack: #000000;
    --offwhite: #FAF9F6;
    --borderColor: #e5e5e5;
    --primary-blue: #dbeafe;
    --primary-blue-text: #1e40af;
    --green-light: #dcfce7;
    --green-text: #166534;
    --red-light: #fee2e2;
    --red-text: #991b1b;
    --text-muted: #6b7280;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: 2px solid darkblue;
    outline-offset: 2px;
}

body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    font-family: "Poppins", sans-serif;
}

body.dark {

    --normalwhite: #212529;
    --normalblack: #f4f4f5;
    --offwhite: #09090b;
    --borderColor: #3f3f46;
    --text-muted: #a1a1aa;

    --primary-blue: #1e3a8a;
    --primary-blue-text: #bfdbfe;

    --green-light: #14532d;
    --green-text: #86efac;

    --red-light: #7f1d1d;
    --red-text: #fca5a5;


}

body.dark,
body.dark aside {
    background-color: var(--normalwhite);
}

body.dark .profile-fields label {
    --normalwhite: #ffffff;
}

.logo_icon,
.darkmode_toggle .title {
    color: var(--normalblack);
}

button {
    font-family: inherit;
}

h1,
h2 {
    font-weight: 500;
    margin-bottom: -0.2rem;
    color: var(--normalblack);
}


aside {
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: #fff;
    min-width: 15rem;
    min-height: 100vh;
    border-right: 2px solid var(--borderColor);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



main {
    width: calc(100% - 15rem);
    margin-left: auto;
    height: 100%;
    background: var(--offwhite);
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid #d9d4d4;
    background-color: var(--normalwhite);
}

.username {
    color: var(--normalblack);
}

.logout_btn {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background: #f4f4f4;
}

.username {
    margin-inline: 1rem;
}

.dashboard_view,
.settings-view {
    padding: 2rem;
}

.hero_text {
    color: var(--text-muted);
    font-size: 0.9rem;
}

.bg-blue {
    background: var(--primary-blue);
    color: var(--primary-blue-text);
}

.bg-green {
    background: var(--green-light);
    color: var(--green-text);
}

.bg-red {
    background: var(--red-light);
    color: var(--red-text);
}

.overview_cards {
    display: flex;
    gap: 2rem;
    margin-block: 1rem;
    flex-wrap: wrap;
}

.card {
    border: 1px solid var(--borderColor);
    padding: 1.2rem 1rem;
    border-radius: 10px;
    flex: 1 1 15rem;
    background-color: var(--normalwhite);
}

.card p {
    color: var(--text-muted);
}

.card_icon {
    display: inline-block;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
}

.currency {
    font-size: 2rem;
    color: #000;
    font-weight: 500;
}

.income .currency {
    color: var(--green-text)
}

.expense .currency {
    color: var(--red-text)
}

.dashboard-grid {
    display: flex;
    gap: 2rem;
}

.dashboard-sidebar {
    min-width: 25rem;
    background-color: var(--normalwhite);
    border: 1px solid var(--borderColor);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.dashboard-main {
    width: 100%;
    background-color: var(--normalwhite);
    border: 1px solid var(--borderColor);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#myChart {
    height: auto;
    width: 100%;
}

/*switch toggle code start */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--normalblack);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #949498;
}

input:focus+.slider {
    box-shadow: 0 0 1px #949498;
}

input:checked+.slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*switch toggle code ends*/

.darkmode_toggle {
    display: flex;
    justify-content: space-between;
    margin-block: 1.5rem;
    border-bottom: 1px solid var(--borderColor);
    padding-bottom: 2rem;
}

.resetBtn {
    border: 1px solid var(--red-text);
    padding: 0.8rem;
    width: 100%;
    border-radius: 5px;
    background-color: #fff5f5;
    font-weight: 600;
}

body.dark .resetBtn {
    color: var(--red-light);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.logo i {
    font-size: 2rem;
}

.logo_text p {
    color: var(--text-muted);
    font-size: 0.8rem;
    transform: translateY(-3px);
}

ul {
    list-style: none;
}

.nav-menu li button {
    padding: 0.5rem 1rem;
    margin-block: 0.5rem;
    border-radius: 5px;
    color: var(--text-muted);
    cursor: pointer;
}

.nav-menu li button.active {
    background: var(--primary-blue);
    color: var(--primary-blue-text)
}

.addTransactionBtn,
.profile-view button,
.transaction-button {
    background-color: var(--normalblack);
    color: var(--normalwhite);
    padding: 0.7rem 1rem;
    margin-block: 1rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-top: auto;
}

button {
    cursor: pointer;
}

.mobile_menu {
    margin-inline: 1rem;
    border: none;
    font-size: 1.5rem;
    background-color: transparent;
}

.all-transactions {
    background-color: var(--normalwhite);
    border: 1px solid var(--borderColor);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-block: 2rem;
}

.visual-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.transaction-filters {
    padding: 0 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    gap: 10px;
}

.search-box {
    flex: 1;
}

#search-transaction,
#full_name {
    width: 100%;
    height: 35px;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    background: var(--offwhite);
}

.filter-type select,
#currency {
    height: 35px;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    min-width: 300px;
    padding-inline: 0.5rem;
    background: var(--offwhite);
}

.search-box {
    position: relative;
}

.search-box i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.transaction-table {
    width: 100%;
    margin-block: 1rem;
}

table th,
table td {
    font-weight: 500;
    color: var(--text-muted);
    border-bottom: 2px solid var(--borderColor);
    padding-block: 1rem;
    font-size: 0.9rem;
}

table td {
    color: var(--normalblack);
    text-align: center;
    font-weight: 400;
}

.edit_icon,
.delete_icon {
    padding: 0.3rem;
    border-radius: 5px;
    margin: 0.3rem;
    cursor: pointer;
}

td.amount {
    font-weight: 500;
}

.txt-red {
    color: var(--red-text);
}

.txt-green {
    color: var(--green-text)
}

td.desc {
    font-weight: 500;
}

.profile-view {
    padding: 1rem;
    background: var(--normalwhite);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    margin-block: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.profile-fields {
    display: flex;
    margin-block: 1rem;
    gap: 2rem;
}

.profile-fields label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--normalwhite);
}

.profile-fields input,
.search-box,
.search-box input,
.profile-fields,
.filter-type select {
    color: var(--normalblack);
    font-family: inherit;
}

#full_name {
    padding: 1rem 1rem;
}

.profile-view button {
    max-width: 130px;
}

.login-page,
.register-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container,
.register-container {
    padding: 2rem;
    background: var(--normalwhite);
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    margin-block: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    max-width: 30rem;
    width: 100%;

}

.login-form,
.register-form {
    padding: 1rem 2rem;
}

.login-button,
.register-button {
    padding: 0.5rem 1rem;
    margin-block: 1rem;
    background: var(--primary-blue-text);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.login-field,
.register-field,
.transaction-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 5px;
    margin-block: 1rem;
}

.login-field input,
.register-field input,
.transaction-field input,
.transaction-field select {
    padding: 0.5rem;
    font-family: inherit;
}

.register-button {
    background-color: var(--green-text);
}

.redirect {
    font-size: 0.8rem;
    color: var(--text-muted);
}

.mobile_menu {
    display: none;
}

/* custom modal dialog */
.modal-overlay {
    z-index: 10000;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

.modal-dialog {
    background: var(--normalwhite);
    color: var(--normalblack);

    width: min(90%, 30rem);
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--borderColor);


    transform: translateY(-30px);
    opacity: 0;

    transition:
        transform 0.3s ease,
        opacity 0.3s ease;

    position: relative;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-overlay.active .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

.modal-close {
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;

    border: none;
    background: transparent;
    font-size: 1.5rem;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

.modal-actions button {
    padding: .7rem 1rem;
    border-radius: 5px;
    border: none;
}

.transaction-button {
    max-width: 10rem;
    display: flex;
    justify-content: center;
    margin: 2rem auto 0;
}

.modal-close {
    color: var(--normalblack);
}

.dashboard-main h2 {
    margin-bottom: 1rem;
}



.mobile_custom.transaction-list {
    display: none;
}

.nav-menu button {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0.5rem 1rem;
    background: transparent;
    text-align: left;
    font-size: 1rem;
}

.nav-menu li button.active {
    color: var(--primary-blue-text);
}

@media screen and (max-width:768px) {
    #txCategory {
        margin-top: 1px;
    }

    .login-field,
    .register-field,
    .transaction-field {
        margin-inline: 0.5rem;
    }

    .all-transactions {
        padding: 0;
    }

    .all-transactions h2 {
        padding: 2rem 2rem 0 2rem;
    }





    .transaction-table {
        display: none;
    }

    .dashboard_view,
    .settings-view {
        padding: 2rem 1rem;
    }

    .filter-type select,
    #currency {
        min-width: 120px;
    }

    .mobile_menu {
        display: block;
    }

    header {
        padding: 2rem 0.5rem;
    }

    main {
        width: calc(100% - 0rem);
    }

    .aside_nav {
        position: fixed;
        transform: translateX(-100%);
        transition: transform 0.4s ease;
    }

    .aside_nav.active {

        z-index: 1000;
        top: 0;
        left: 0;
        height: 100vh;
        background: #fff;
        transform: translateX(0);

    }

    .dashboard-grid {
        flex-wrap: wrap;
    }

    .dashboard-sidebar {
        min-width: 100%;
    }

    /*mobile transaction cards */

    .transaction-header h3 {
        color: var(--normalblack);
    }

    .mobile_custom.transaction-list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 15px 0;
    }

    .mobile_custom .transaction-card {
        display: flex;
        gap: 1.6rem;
        padding: 1.5rem 1rem 0 1rem;
        background-color: var(--normalwhite);
        border: 1px solid var(--borderColor);
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

    .mobile_custom .transaction-icon {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 1.3rem;
        flex-shrink: 0;
    }

    .mobile_custom .income-icon {
        background: #eaf8ee;
        color: #166534;
    }

    .mobile_custom .expense-icon {
        background: #feecec;
        color: #991b1b;
    }

    .mobile_custom .transaction-content {
        flex: 1;
    }



    .mobile_custom .transaction-header h3 {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .mobile_custom .amount {
        font-weight: 700;
        font-size: 1.2rem;
    }

    .mobile_custom .txt-green {
        color: #166534;
    }

    .mobile_custom .txt-red {
        color: #991b1b;
    }

    .mobile_custom .transaction-details {
        color: #6b7280;
        margin-bottom: 1.6rem;
    }

    .mobile_custom .transaction-details p {
        display: flex;
        align-items: center;
        gap: .8rem;
        margin-block: 2px;
    }

    .mobile_custom .transaction-actions .amount {
        font-weight: 500;
        margin-bottom: 5px;
    }

    .mobile_custom .transaction-actions button {
        width: 2rem;
        height: 2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .mobile_custom .bg-blue {
        background: #e8f0ff;
        color: #2563eb;
    }

    .mobile_custom .bg-red {
        background: #feecec;
        color: #dc2626;
    }
}